@import 'tailwindcss';

@theme {
  --animate-aurora: aurora 10s linear infinite;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --animate-slide: slide var(--speed) ease-in-out infinite alternate;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 250% 50%, 250% 50%;
    }
  }

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }

    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }

    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }

    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes slide {
    to {
      transform: translate(calc(100cqh - 100%), 0);
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
}

.animate-border-beam {
  animation: border-beam calc(var(--duration)*1s) infinite linear;
}