.section {
    padding: 150px 0;
    background-color: #f5f5f7;
    color: #1d1d1f;
}

.title {
    font-size: 56px;
    font-weight: 700;
}

.price {
    font-size: 24px;
    font-weight: 400;
    color: #1d1d1f;
}

.buyButton {
    background-color: #0071e3;
    color: #fff;
    border: none;
    padding: 0 40px;

    &:hover {
        background-color: #0077ed;
    }
}

.learnButton {
    border-color: #0071e3;
    color: #0071e3;
    padding: 0 40px;

    &:hover {
        background-color: rgba(0, 113, 227, 0.1);
    }
}